h1 {
    text-align: center;
    padding: 60px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
}

.accordion {
    width: 50%;
    margin-left: 25%;
}

body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/54/Vista_amplia_de_la_estaci%C3%B3n_Santa_F%C3%A9.jpg');
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:800px;
}